<!DOCTYPE html>
<html>
  <head>
    <title>ABOUT</title>

    {% load static %}
    <link href={% static 'css/A.css'  %} rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="A.css" type="text/css" rel="stylesheet">
  <body>
    <h2 class="A">ABOUT</h2>
    <section class="box2">
      <div class="row">
     <div class="col s12">
   </div>
     <div class="col s6">
       <img class="materialboxed" src="/static/css/B21.jpeg">
       <p>Vighnesh Radhakrishnan</p>
     </div>
     <div class="col s6">
       <img class="materialboxed" src="/static/css/B21.jpeg">
         <p>Saday Narayanan</p>
     </div>
     <div class="row">
      <div class="col s12"></div>
      <div class="col s6">
        <img class="materialboxed" src="/static/css/B21.jpeg">
          <p>Rahul R</p></div>
      <div class="col s6">
        <img class="materialboxed" src="/static/css/B21.jpeg">
          <p>Sangeeth D Menon</p></div>
    </div>
   </div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</head>
</html>
